<html>
<head><title>Servidor {{ ansible_hostname }}</title></head>
   <body>
       <h1>Servidor: {{ ansible_hostname }}</h1>
       <p>IP: {{ ansible_default_ipv4.address }}</p>

   </body>
   </html>
